<head>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-sans">
  <!-- <p class="type">Article Type</p> -->
  <h1>About Me</h1>

  <p>
  		I’m an electrical engineering technologist turned web developer and a musician since childhood. I decided to move on from the engineering technology field because there wasn’t enough room to grow, and I felt limited. To me, web development represents infinite possibilities. I am passionate about front-end development and thrive in fast paced team oriented environments.
  </p>
</article>
