<head>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200' rel='stylesheet' type='text/css'>
</head>

<article id="about-me" class="type-system-sans">
  <!-- <p class="type">Article Type</p> -->
  <h1>About Me</h1>
	<img src="http://res.cloudinary.com/matthewalexander108/image/upload/v1463775911/mysite/profile_headshot.jpg" alt="" />
  <p>
  		I’m an electrical engineering technologist turned web developer and a musician since childhood. I decided to move on from the engineering technology field because there wasn’t enough room to grow, and I felt limited. To me, web development represents infinite possibilities. I am passionate about writing clean code(a blessing and a curse! as passion sometimes border lines obsession). I am also fascinated by software design, and therefore constantly push myself to new levels of understanding and proficiency.

  </p>
</article>
