<div class="button-container-small-screen">

	<div class="action-button-container">
		<!-- <a href="#" class="button-link"> -->
		<div class="action-button-inner-container">

			<button id="projects-scroll" class="action-button" type="button" name="button">PROJECTS</button>

			<%= render 'refills/modal' %>
			<button id="music-scroll" class="action-button" type="button" name="button">MUSIC</button>

		</div>
	</div>
</div>


<div class="button-container-large-screen">
	<div class="action-button-container">
		<!-- <a href="#" class="button-link"> -->
		<div class="action-button-inner-container">

			<button id="projects-scroll" class="action-button" type="button" name="button">PROJECTS</button>

				<%= render 'refills/modal' %>

			<button id="music-scroll" class="action-button" type="button" name="button">MUSIC</button>
		</div>
	</div>
</div>
