<div class="action-button-container">

	<!-- <a href="#" class="button-link"> -->
		<button id="projects-scroll" class="action-button" type="button" name="button">PROJECTS</button>
	<!-- </a> -->

	<!-- <a href="#" class="button-link"> -->
		<button id="music-scroll" class="action-button" type="button" name="button">MUSIC</button>
	<!-- </a> -->

</div>
