<div class="button-container">
	<div class="action-button-container">
		<div class="action-button-inner-container">
			<button id="projects-scroll" class="action-button" type="button" name="button">PROJECTS</button>
			<button id="music-scroll" class="action-button" type="button" name="button">MUSIC</button>
		</div>
	</div>
</div>
