<div class="action-bar">
	<div class="action-container">
		<div class="action-text">
			<p>
				Check out some of my work below. Click on a card to view the source code!
			</p>
		</div>

		<!-- <div class="arrow-container"> -->

			<img id="projects-arrow" src="/arrow.gif" alt="" />

		<!-- </div> -->
		<!-- contact / subscriber? -->
		<%# form_for @contact do |f| %>

		<%# end %>

	</div>
</div>
