<div class="action-bar">
	<div class="action-container">
		<div class="action-text">
			<p>
				Check out some of my work.
				<!-- Click on a card to view tech details, site urls, and links to source code. -->
			</p>
		</div>

			<img id="projects-arrow" src="/arrow.gif" alt="" />

	</div>
</div>
