<form class="contact-me" action="/message" method="post">
	<div id="subscribe-bar" class="contact-form">

		<ul class="message-input-list">
			<li class="message-first-name">
				<input id="" type="text" name="name" placeholder="First Name">
			</li>
			<li class="message-last-name">
				<input id="" type="text" name="name" placeholder="Last Name">
			</li>
			<li class="message-email">
				<input id="" type="text" name="email" placeholder="Email">
			</li>
			<li class="message-phone">
				<input id="" type="text" name="email" placeholder="Phone">
			</li>
			<li class="message-text">
				<input id="" type="text" name="email" placeholder="Your Message">
			</li>
			<li  class="message-submit">
				<input id="contact-submit" type="submit" value="Submit">
			</li>
		</ul>

	</div>
</form>
