<div class="cover-button-container">
	<div class="cover-action-button-container">
		<!-- <a href="#" class="button-link"> -->
		<div class="cover-action-button-inner-container">
			<button id="projects-scroll" class="cover-action-button" type="button" name="button">PROJECTS</button>
			<button id="music-scroll" class="cover-action-button" type="button" name="button">MUSIC</button>
		</div>
	</div>
</div>
