<div class="logo-section">

  <article class="type-system-sans">
    <!-- <p class="type">Article Type</p> -->
    <h1 id="skills-title">Skills</h1>
  </article>

  <div class="logos">
    <div class="logo-item">
      <img src="/html5.png" alt="">
      <h2>HTML5</h2>
    </div>
    <div class="logo-item">
      <img src="/css3.png" alt="">
      <h2>CSS3</h2>
    </div>
    <div class="logo-item">
      <img src="/js.png" alt="">
      <h2>JavaScript</h2>
    </div>
    <div class="logo-item">
      <img src="/ror.png" alt="">
      <h2>Ruby on Rails</h2>
    </div>
    <div class="logo-item">
      <img src="/jquery.png" alt="">
      <h2 id="jquery-logo-text">jQuery</h2>
    </div>
    <div class="logo-item">
      <img src="/react.png" alt="">
      <h2 id="react-logo-text">React</h2>
    </div>
  </div>

</div>