<div class="logo-section">

  <article class="type-system-sans">
    <!-- <p class="type">Article Type</p> -->
    <h1 id="skills-title">Skills</h1>
  </article>

  <div id="logos" class="logos">
    <div class="logo-item">
      <img class="logo-image" src="/html5.png" alt="">
      <h2 class="logo-text">HTML5</h2>
    </div>
    <div class="logo-item">
      <img class="logo-image" src="/css3.png" alt="">
      <h2 class="logo-text">CSS3</h2>
    </div>
    <div class="logo-item">
      <img class="logo-image" src="/js.png" alt="">
      <h2 class="logo-text">JavaScript</h2>
    </div>
    <div class="logo-item">
      <img class="logo-image" src="/ror.png" alt="">
      <h2 class="logo-text" >Ruby on Rails</h2>
    </div>
    <div class="logo-item">
      <img class="logo-image" src="/jquery.png" alt="">
      <h2 id="jquery-logo-text" class="logo-text">jQuery</h2>
    </div>
    <div class="logo-item">
      <img class="logo-image" src="/react.png" alt="">
      <h2 id="react-logo-text" class="logo-text">React</h2>
    </div>
  </div>

</div>