<div class="social-media-container">

  <div id="social-media" class="social-media-icons">
    <div class="social-media-item">
      <a href="https://www.facebook.com/matthew.a.smith.9849"><img class="social-media-image" src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775930/mysite/facebook_social.jpg" alt=""></a>
    </div>
	<div class="social-media-item">
      <a href="https://ca.linkedin.com/in/matthewalexandersmith1"><img class="social-media-image" src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775948/mysite/linkedIn_social.jpg" alt=""></a>
    </div>
	<div class="social-media-item">
      <a href="https://github.com/malexanders"><img class="social-media-image" src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775925/mysite/github_social.jpg" alt=""></a>
    </div>
  </div>

</div>
