<%# render 'refills/hero' %>
<%= render 'refills/home_cover' %>

<div class="contact-bar">
	<div class="container">
		<div class="contact-text">
			<p>
				Sign up here for the latest studio news, event and retreat promotions, and much more!
			</p>
		</div>

		<form class="enter-contact-form" action="index.html" method="post">
			<div class="contact-form">
				<ul class="contact-input-list">
					<li class="contact-input-name">
						<input id="subscribe-input-name" type="text" name="name" placeholder="FULLNAME">
						<!-- <label for="name">FULL NAME</label> -->
					</li>
					<li class="contact-input-email">
						<input id="subscribe-input-email" type="text" name="email" placeholder="EMAIL">
						<!-- <label for="email">EMAIL</label> -->
					</li>
				</ul>
				<!-- <button type="button" name="button">Submit</button> -->
				<div class="contact-form-footer">
					<input type="submit" value="Submit">
				</div>
			</div>
		</form>

		<!-- contact / subscriber? -->
		<%# form_for @contact do |f| %>

		<%# end %>

	</div>
</div>


<%= render 'refills/type_system_geometric' %>
<%= render 'refills/parallax' %>
<%= render 'refills/cards' %>
