<%# render 'refills/hero' %>
<%= render 'refills/image_gradient_dynamic' %>
<div class="contact-bar">
	<div class="container">
		<div class="contact-text">
			<p>
				Sign up here for the latest studio news, event and retreat promotions, and much more!
			</p>
			<div class="contact-form">

			</div>

		</div>


	</div>

</div>
<%= render 'refills/parallax' %>
<%= render 'refills/cards' %>
