$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: $base-vertical-div-margin-top;
}

.parallax-static-content {
	color: #9A9A8A;
	padding: 8em 0;
	position: relative;
	z-index: 9;
	width: 50%;
	margin: auto;
	height: -56%;
	width: 66%;

}

.parallax-static-content-inner{
	height: 9rem;
	border: 2px solid;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	b {
		position: relative;
    	top: 30px;
		font-size: 3rem;
	}
}

.parallax-background {
  background: url("/bowls_zen.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
