<head>
  <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<div class="appWrap">
	<div class="blog-post">
		<article class="type-system-geometric">
				<h1>Organizing Google Maps API</h1>
				<img class="thumbnail" src="http://placehold.it/850x350">
				<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
				<div class="callout">
					<ul class="menu simple">
						<li><a href="#">Author: Mike Mikers</a></li>
						<li><a href="#">Comments: 3</a></li>
					</ul>
				</div>
		</article>
	</div>
</div>
