<head>
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
</head>

<div class="appWrap">
	<!-- <article class="type-system-geometric"> -->
		<div class="type-system-geometric blog-post">
			<div class="blog-post-header">

			</div>


			<img class="thumbnail" src="http://placehold.it/850x350">
			<h1>Organizing Google Maps API</h1>
			<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
		<!-- </article> -->
	</div>
</div>
