/**
 * Center aligned placeholder text
 */

input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;

}

.action-bar {
	overflow: auto;
	background: white;
	overflow: inherit;
	/* background: #fde600; */
	height: 11em;
	padding-top: 2em;
	@include media($ipad){
		height: 16em;
		padding-top: 2em;

	}

	.action-container {
		@include outer-container;
		width: 93%;
	    margin: auto;
	}

	.action-text {
		@include span-columns(12);
		text-align: center;
		height:100%;
		font-size: 1.2em;
	    font-family: "Titillium Web", sans-serif;
		padding: 30px 0px 9.9px 0px;




		@include media($ipad){
			font-size: 2em;
		}


		// @include media($large-screen){
		// 	@include span-columns(12);
		// }
			p {
				margin: 0;
			}

	}

	.action-form{
		@include span-columns(12);
		// padding-top: 0em;

		.action-input-list {
			@include span-columns(12);
			@include media($ipad){
				@include span-columns(8);
			}
			margin: 0;
			text-align: center;

			li{
				@include span-columns(12);
				@include sharp-box-border();
				margin-bottom: 1em;

				margin-right: 3.42%;

				// Removes margin from the two subscribe inputs
				// I did this because I had trouble using classes
				#subscribe_input_name {
					margin-bottom: 0;
				}

				#subscribe_input_email {
					margin-bottom: 0;
				}
				@include media($ipad){
					@include span-columns(4 of 8);
				}
			}

		}
	}

	.action-form-footer{
		@include span-columns (12);
		margin: auto;
		@include omega();

		input{
			width: 61.8%;
			display: block;
			margin: auto;
			margin-bottom: 1em;
		}

		@include media($ipad){
			@include span-columns(4);
			@include omega();
			input{
				width: 100%;
			}
		}
	}
}

img#projects-arrow {
	width: 8%;
	margin: auto;
	display: block;
	position: relative;
	top: 1.5em;
	z-index: 99999997;
}
