// Styles for Action Buttons on Home Page


// Screen size less than 960px
.button-container-small-screen{
	border-bottom: 1px solid;
	padding-left: 1.5em;
    padding-right: 1.5em;

	.action-button-container{
		@include outer-container;
		margin-right: auto;
	    margin-top: 2em;
		padding-bottom: 2em;
		max-width: 500px;

		@include media($large-screen){
			display: none;
		}


		@include media($ipad){
			// width:60%;
			width:76%;
		    height: 10em;
		    padding-top: 2.5em;

		}

		.action-button{
			@include span-columns(8);
			// width: 250px;
			@include media($iphone-6-plus){
				@include span-columns(4 of 8);
			};
			// @include omega(1n);
			float: none;
			border: 1px solid rgba(0, 0, 0, 0.69);
			margin-bottom: 0.7em;
			height: 2.9em;
			margin: auto;
			margin-bottom: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			&:last-child{
				margin: auto;
			}
		}
	}
}

// Styles for screen size greater than 960px
.button-container-large-screen{
	border-bottom: 1px solid;
	padding-left: 1.5em;
    padding-right: 1.5em;
	background: transparent;

	.action-button-container{
		@include outer-container;
		margin-right: auto;
	    margin-top: 2em;
		padding-bottom: 2em;
		max-width: 500px;
		display: none;
		@include media($large-screen){
			display: block;
		}

		.action-button{
			@include span-columns(8);
			float: none;
			border: 1px solid rgba(0, 0, 0, 0.69);
			margin-bottom: 0.7em;
			height: 2.9em;
			margin: auto;
			margin-bottom: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			&:last-child{
				margin: auto;
			}
		}
	}
}
