@import 'normalize-rails';
@import 'bourbon';
@import "base/base";
@import 'neat';
@import "refills/centered-navigation";
@import "refills/parallax";
@import "refills/hero";
@import "refills/cards";
@import "refills/image-gradient-dynamic";
@import "refills/type-system-geometric";
@import "refills/footer-2";
@import "home";

.appWrap {
	width: 80%;
	margin: auto;
	margin-top: $base-vertical-div-margin-top;
}

.spacer {

}
