.slider-container {
    position: relative;

	.next.slick-arrow {
		font-size: 5rem;
		line-height: 0;
		position: absolute;
		top: 50%;
		/* right: 10%; */
		right: 6%;
		display: block;
		// width: 20px;
		// height: 20px;
		padding: 0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		/* color: transparent; */
		border: none;
		outline: none;
		/* background: transparent; */
		z-index: 100;
	}

	.prev.slick-arrow {
		font-size: 5rem;
		line-height: 0;
		position: absolute;
		top: 50%;
		/* right: 10%; */
		left: 5%;
		display: block;
		// width: 20px;
		// height: 20px;
		padding: 0;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		cursor: pointer;
		/* color: transparent; */
		border: none;
		outline: none;
		/* background: transparent; */
		z-index: 100;
	}

	.product-slider{
			.item-1 img {
				height: 100px;
				width: 100px;
				object-fit: contain;
			    // background: url('http://www.3dhdwallpapers.com/image.php?width=480&height=332&cropratio=2:1&image=/wallpapers/17112015/apple-blue-background-wallpaper-desktop.jpg') no-repeat center center fixed;
			    // -webkit-background-size: cover;
			    // -moz-background-size: cover;
			    // -o-background-size: cover;
			    // background-size: cover;
			}
		}

}
