/**
 * Center aligned placeholder text
 */

input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;

}


.contact-bar {
	overflow: auto;
	background: darkorange;

	.container {
		@include outer-container;
		width: 80%;
	    margin: auto;
	}

	.contact-text {
		@include span-columns(6);
		height:100%;
		font-size: 23px;
    	font-family: 'Source Sans Pro';
		padding: 21px 0px 23px 0px;
			p {
				margin: 0;
			}
	}

	.contact-form{
		@include span-columns(6);
		height: 100%;
	}





}
