/**
 * Center aligned placeholder text
 */

input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;

}


.contact-bar {
	overflow: auto;
	background: darkorange;

	.container {
		@include outer-container;
		width: 80%;
	    margin: auto;
	}

	.contact-text {
		@include span-columns(5);
		height:100%;
		font-size: 23px;
    	font-family: 'Source Sans Pro';
		padding: 21px 0px 23px 0px;
			p {
				margin: 0;
			}
	}

	.contact-form{
		@include span-columns(7);
		padding-top: 2em;

		.contact-input-list {
			@include span-columns(4 of 7);
			margin: 0;
			text-align: center;

			li{
				@include span-columns(2 of 4);
				display: inline-block;
				margin-right: 3.42%;
			}
		}
	}

	.contact-form-footer{
		@include span-columns (3 of 7);
		@include omega();
	}

}
