.logo-section {
  background-color: ghostwhite;
  @include media($large-screen){
    min-height: 469px ;
  }


  .logos {
    @include outer-container;
    text-align: center;
    @include media($ipad){
      max-width: 700px;
    }

    .logo-item {
      @include span-columns(4);
      @include omega(3n);
      margin-bottom: 2.5em;
      img{
        width: 0%;
        &:hover{
          postion:relative;
          bottom: 20px;
        }
      }

      .logo-text{
        //font-size: 1em;
      }

      h2 {
		font-family: "Titillium Web", sans-serif;
      	font-weight: 600;
        font-size: 0em;
        font-size: 1em;
        @include media($ipad){
          font-size: 0em;
        }

      }
    }
  }
}

#jquery-logo-text{
  position: relative;
  top: 0.3em;
  @include media($ipad){

  }
}

#react-logo-text{
  position: relative;
  top: 0.7em;
  @include media($ipad){
    top: 0.4em;
  }
}

#skills-title{
  margin-bottom: 1em;
  font-size: 2.6em;

}
