/**
 * Center aligned placeholder text
 */

input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;

}

.contact-bar {
	overflow: auto;
	background: #fde600;

	.container {
		@include outer-container;
		width: 93%;
	    margin: auto;
	}

	.contact-text {
		@include span-columns(12);
		text-align: center;


		// @include media($large-screen){
		// 	@include span-columns(12);
		// }
		height:100%;
		font-size: 23px;
    	font-family: 'Source Sans Pro';
		padding: 21px 0px 23px 0px;
			p {
				margin: 0;
			}

	}

	.contact-form{
		@include span-columns(12);
		// padding-top: 0em;

		.contact-input-list {
			@include span-columns(12);
			@include media($ipad){
				@include span-columns(8);
			}
			margin: 0;
			text-align: center;

			li{
				@include span-columns(12);
				@include sharp-box-border();
				margin-bottom: 1em;

				margin-right: 3.42%;

				// Removes margin from the two subscribe inputs
				// I did this because I had trouble using classes
				#subscribe-input-name {
					margin-bottom: 0;
				}

				#subscribe-input-email {
					margin-bottom: 0;
				}
				@include media($ipad){
					@include span-columns(4 of 8);
				}
			}

		}
	}

	.contact-form-footer{
		@include span-columns (12);
		margin: auto;
		@include omega();

		input{
			width: 61.8%;
			display: block;
			margin: auto;
			margin-bottom: 1em;
		}

		@include media($ipad){
			@include span-columns(4);
			@include omega();
			input{
				width: 100%;
			}
		}
	}

}
