/**
 * Center aligned placeholder text
 */

input {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	border: 0.15em solid #808080;
	border-radius: 0.5em;
	text-align: center;
	// font-weight: 300;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
   // font-weight: 300;

}

:-moz-placeholder {
   color: #808080;
   text-align: center;
   // font-weight: 300;
}

.contact-bar {
	overflow: auto;
	background: #fde600;

	@include media($ipad){
		// height: 10em;
	}

	.container {
		width: 93%;
	    margin: auto;
		@include media($large-screen){
			@include outer-container;
		}
	}

	.contact-text {
		width: 100%;
		text-align: center;
		height:100%;
		font-size: 23px;
    	font-family: 'Source Sans Pro';
		padding: 21px 0px 23px 0px;
			p {
				margin: 0;
			}

			@include media($large-screen){
				@include span-columns(6);
			    padding-top: 1.8em;

			}
	}


	.contact-form{
		width: 100%;
		padding-top: 0em;
		padding-bottom: 2em;

		@include media($large-screen){
			@include span-columns(6);
			padding-top: 2em;
		}
		ul.contact-input-list{
			margin: 0;
			@include media($ipad){
				@include outer-container();
				width: 90%;
			}

			@include media($large-screen){
				padding-top: 0.5em;
			}

			li{
				width: 100%;
				&:last-child{
					display:block;
					width: 61.8%;
					margin: auto;
				}

				@include media($ipad){
					@include span-columns(4);
					@include omega(3n);
					&:last-child{
						@include span-columns(4);
					}
				}
				@include sharp-box-border();
				margin-bottom: 1em;

				// Removes margin from the two subscribe inputs
				// I did this because I had trouble using classes
				#subscribe-input-name {
					margin-bottom: 0;
				}

				#subscribe-input-email {
					margin-bottom: 0;
				}
			}

		}
	}
}
