<div class="cards">

	<div class="card">
		<div class="card-image">
			<img src="/truthometer_reformat.jpg" alt=""></a>
		</div>
		<div class="card-header">
			truthometer.co
		</div>
		<div class="card-copy">
			<p> truthometer.co enables truth to unfold via a collaborative process of evidence collection and verification.
			</p>
		</div>
	</div>

	<div class="card">
		<div class="card-image">
			<img src="/roadtrippin_reformat.jpg" alt="">
		</div>
		<div class="card-header">
			roadtrippin.co
		</div>
		<div class="card-copy">
			<p> roadtrippin is a enchanced google maps search app, it allows you to search for anything within a user defined distance from a selected route. </p>
		</div>
	</div>

	<div class="card">
		<div class="card-image">
			<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
		</div>
		<div class="card-header">
			Brett Shramek Design
		</div>
		<div class="card-copy">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			</div>
		</div>
	</div>
