<div class="cards">
		<div id="card-1" class="card">
			<a class="card-link" href="https://github.com/cstaikos/truthometer"></a>
			<%= render "refills/hover_tile_animation_card_1" %>
			<div  class="card-image">
				<img id="card-image-1"  src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775928/mysite/truthometer_reformat.jpg" alt=""></a>

			</div>
			<div class="card-header">
				truthometer.co
			</div>
			<div class="card-copy">
				<p> truthometer.co enables truth to unfold via a collaborative process of evidence collection and verification.
				</p>
			</div>
		</div>



		<div id="card-2" class="card">
			<a class="card-link" href="https://bitbucket.org/MatthewAlexanderSmith/igig"></a>
			<%= render "refills/hover_tile_animation_card_2" %>
			<div class="card-image">
				<img id="card-image-2" src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775914/mysite/roadtrippin_reformat.jpg" alt="">
			</div>
			<div class="card-header">
				roadtrippin.co
			</div>
			<div class="card-copy">
				<p> roadtrippin is an enhanced google maps search app, it allows you to search for anything within a user defined distance from a selected route. </p>
			</div>
		</div>



		<div id="card-3" class="card">
			<a class="card-link" href="https://bitbucket.org/MatthewAlexanderSmith/mysite"></a>
			<%= render "refills/hover_tile_animation_card_3" %>
			<div id="card-image-3" class="card-image">
				<img src="https://res.cloudinary.com/matthewalexander108/image/upload/v1463775916/mysite/cover.jpg" alt="">
			</div>
			<div class="card-header">
				M.A.S Dev/Design
			</div>
			<div class="card-copy">
				<p>A fully responsive, mobile first designed website. Built using Ruby on Rails, javascript/jQuery, html5, SASS, (bourbon, neat, bitters and refills) as well as foundation 6.
			</div>
		</div>
	<!-- </a> -->

</div>
