<% if flash[:notice] %>
  <div class="flash-notice">
    <span><%= flash[:notice] %></span>
  </div>
<% elsif flash[:alert] %>
  <div class="flash-alert">
    <span><%= flash[:alert] %></span>
  </div>
<% elsif flash[:success] %>
  <div class="flash-success">
    <span><%= flash[:success] %></span>
  </div>
<% elsif flash[:error] %>
  <div class="flash-error">
    <span><%= flash[:error] %></span>
  </div>
<% end %>
