<div class="image-gradient-dynamic">
	<%= render 'cover_action_buttons' %>
  <img class="home_cover_image" src="/cover.jpg" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <!-- <p>Dynamic height container</p> -->
	<!-- <h1>Developer / Musician</h1> -->
  </div>
</div>
