<div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4>Tech Stack:</h4>
      <p>M.A.S Dev/Design is a ruby on rails app hosted on heroku. I built this myself, ensuring the site is fully responsive on all devices from the iPhone5 to any retina screen. Javascript/jQuery, HTML5, SASS(bourbon, neat, bitters, and refills), some foundation 6, and photoshop. I also took the cover photo. </p>
	  <p>Check out the source <a href="https://bitbucket.org/MatthewAlexanderSmith/mysite">code</a>.</p>	
    </div>
  </div>
</div>
