<div class="hover-tile-outer">
  <div class="hover-tile-container">
    <div class="hover-tile hover-tile-visible"></div>
    <div class="hover-tile hover-tile-hidden">
      <h4>Tech Stack:</h4>
      <p>For now, this app is written purely in vanilla JS and jQuery. I'm in the process of migrating to meteor</p>
	  <p>
	  	<a href="#">www.roadtrips.co</a>
		Checkout the source code
	  </p>
    </div>
  </div>
</div>
