<div class="modal">
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Music Section Under Construction:</h1>
      <p class="modal-intro">For now, check out this <a href="https://soundcloud.com/user-339325043/cochise">track</a> on sound cloud!</p>
      <p class="modal-content"></p>
    </div>
  </div>
</div>
