<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
	  <!-- <div class="parallax-static-content-inner">

		<b>Projects</b>

	  </div> -->
	  <%= render 'refills/fade_in' %>

  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
